.y-icon {
  --y-icon-color: inherit;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  fill: currentColor;
  color: var(--y-icon-color);
  font-size: inherit;
}

@each $val in primary, info, success, warning, danger {
  .y-icon--$(val) {
    --y-icon-color: var(--y-color-$(val));
  }
}
